{% extends 'ToolShare/base.html' %}
{% block title %}ToolShare - Reset Password{% endblock %}
{% block navbar_administration %}active{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <legend>Password Reset</legend>
        The password for <b>{{ userObject }} ({{ userObject.email }})</b> has been changed.
        <br/><br/>
        The new password is:<b>{{ new_password }}</b>
    {% else %}
        <p>Please sign-in as a System Administrator to access this feature.</p>
    {% endif %}


{% endblock %}