{% extends 'ToolShare/base.html' %}
{% block title %}ToolShare - Change Password{% endblock %}
{% block navbar_password-change %}active{% endblock %}
{% block navbar_me %}active{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="/ToolShare/password-change/" method="post" class="form-horizontal">
            {% csrf_token %}

            <fieldset>

                <!-- Form Name -->
                <legend>Change Password</legend>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="old_password">Old Password</label>
                    <div class="col-md-4">
                        <input id="old_password" value="{{ form.old_password.value|default:'' }}" name="old_password" type="password"  class="form-control input-md" required>
                        {{ form.old_password.errors }}
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="new_password1">New Password</label>
                    <div class="col-md-4">
                        <input id="new_password1" value="{{ form.new_password1.value|default:'' }}" name="new_password1" type="password"  class="form-control input-md" required>
                        {% autoescape off %}{{ form.new_password1.help_text }}{% endautoescape %}
                        {{ form.new_password1.errors }}
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="new_password2">New Password Confirmation</label>
                    <div class="col-md-4">
                        <input id="new_password2" value="{{ form.new_password2.value|default:'' }}" name="new_password2" type="password"  class="form-control input-md" required>
                        {{ form.new_password2.errors }}
                    </div>
                </div>


                <!-- Buttons -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-8">
                        <button type="submit" id="submit" name="submit" class="btn btn-primary">Save</button>
                        <button type="button" id="cancel" name="cancel" class="btn btn-default" onclick="window.location.href='/ToolShare/'">Cancel</button>
                    </div>
                </div>

            </fieldset>

        </form>
    {% else %}
        <p>This functionality is disabled for signed-in users</p>
    {% endif %}

{% endblock %}
